<h1>Calendar API</h1>

<%= form_tag do %>
  <%= label_tag(:eventName, "Event Name"); %>
  <%= text_field_tag(:eventName) %>
  <%= submit_tag("Create Event!"); %>
<% end %>


<!--
Form

Event Name
Start time
  time, month, day, year
End time
  time, month, day, year
  Description

--!>
